html {
  height: 100%;
}
body {
	  min-height: 100%;
	  margin: 0;
	  padding: 0;
	  position: relative;
	  background-color: red;
}
.titre{
	text-align:center;
	font-size:3.5em;
	background-color:green;
	color:white;
}
.acceuil{
	text-align:center;
	color:white;
	font-size:1.6em;
	background-color:red;
	background-size: cover;
}
a{
	color: white;
}
.menu{
	text-align:center;
	font-size:1.6em;
}
.nospizzas{
	color: white;
	text-align: center;
	margin: 2%;
}
.classiques{
color: white;
}
.pastas{
	text-align:center;
	color:white;
	font-size:1.6em;
}
.footer{
	margin-top: 4%;
	text-align:center;
	color:white;
	font-size:3em;
	background-color:green;
	position: absolute; bottom: 0; left: 0; right: 0;
}
.footer2{
	margin-top: 4%;
	text-align:center;
	color:white;
	font-size:3em;
	background-color:green;
	/*position: absolute; bottom: 0; left: 0; right: 0;*/
}