html {
  height: 100%;
}
body {
	  min-height: 100%;
	  margin: 0;
	  padding: 0;
	  position: relative;
	  background-color: red;
}
.titre{
	text-align:center;
	font-size:3.5em;
	background-color:green;
	color:white;
}
.acceuil{
	text-align:center;
	color:white;
	font-size:3.5em;
	background-color:red;
	background-size: cover;
}
a{
	color: white;
}
.menu{
	text-align:center;
	font-size:3.5em;
}
.pizzas{
	text-align:center;
	color:white;
	font-size:3.5em;
}
.pastas{
	text-align:center;
	color:white;
	font-size:3.5em;
}

.footer{
	text-align:center;
	color:white;
	font-size:3.5em;
	background-color:green;
	position: absolute; bottom: 0; left: 0; right: 0;
}