html {
  height: 100%;
}
body {
	  min-height: 100%;
	  margin: 0;
	  padding: 0;
	  position: relative;
	  background-color: green;
}
.titre{
	text-align:center;
	font-size:3.5em;
	background-color:red;
	color:white;
}
.acceuil{
	text-align:center;
	color:white;
	font-size:1.6em;
	background-color:red;
	background-size: cover;
}
a{
	color: white;
}
.menu{
	text-align:center;
	font-size:1.6em;
}
.nospizzas{
	color: red;
	text-align: center;
	margin: 2%;
}
.classiques{
color: red;
}
.pastas{
	text-align:center;
	color:white;
	font-size:1.6em;
}

.footer2{
	margin-top: 4%;
	text-align:center;
	color:white;
	font-size:3em;
	background-color:red;
	/*position: absolute; bottom: 0; left: 0; right: 0;*/
}
.col-11{
background-color: white;
margin-top: 2.5%;
border-radius: 20px;
}
.textpastas{
	color: white;
	text-align: center;
}
.textcontact{
	color: white;
	text-align: center;
}