html {
  
}
body {
	  background-color: green;
}
.titre{
	font-size:2em;
	background-color:red;
	color:white;
	}
.acceuil{
	text-align:center;
	color:white;
	font-size:1.6em;
	background-color:red;
	background-size: cover;
}
a{
	color: white;
}
.menu{
	text-align:center;
	font-size:0.5em;
}
.taillepizza{
	text-align: center;
	margin-bottom: 3%;
}
.compo{
	font-size:90%; 
	font-style: italic;
}
.nospizzas{
	color: red;
	text-align: center;
	margin: 2%;
}
.pizza{
	margin-top: 1%;	
	font-size: 90%
}
.classiques{
	margin-top: 2%;
	color: red;
}
.pastas{
	text-align:center;
	color:white;
	font-size:1.6em;
}

.footer2{
	margin-top: 4%;
	text-align:center;
	color:white;
	font-size:2em;
	background-color:red;
	/*position: absolute; bottom: 0; left: 0; right: 0;*/
}
.col-10{
background-color: white;
margin-top: 2.5%;
border-radius: 20px;
}
.textpastas{
	color: white;
	text-align: center;
}
.textcontact{
	color: white;
	text-align: center;
}
.prix{
	float:left;
}
