html {
  
}
body {
	background-image: url("");
    overflow: hidden;

}
.titre{
	font-size:2em;
	background-color:green;
	color:white;
}
.fond{
	background-color: red;
	height:100vh;
}
.menu{
	text-align:center;
	font-size:0.5em;
}
.bienvenue{
	margin-top: 10%;
	text-align:center;
	color:white;
	font-size:3em;
}
.passez{
	margin-top:5%;
	text-align:center;
	color:white;
	font-size:2em;
	
}
.regardez{
	margin-top:5%;
	text-align:center;
	color:white;
	font-size:3em;
	background-size: cover;
}
a{
	color: white;
}
.nospizzas{
	color: red;
	text-align: center;
	margin: 2%;
}
.classiques{
color: red;
}
.pastas{
	text-align:center;
	color:white;
	font-size:1.6em;
}
.footer{
	margin-top: 4%;
	text-align:center;
	color:white;
	font-size:3em;
	background-color:green;
	position: absolute; bottom: 0; left: 0; right: 0;
}
.col-11{
background-color: white;
margin-top: 2.5%;
border-radius: 20px;
}
.textpastas{
	color: white;
	text-align: center;
}
.textcontact{
	color: white;
	text-align: center;
}